<!DOCTYPE html>

<html>
<head>
    @RenderSection("scripts", required: false)
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <script src="~/Content/components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="~/Content/components/polymer/polymer.html" />
    <link rel="import" href="~/Content/components/iron-icons/iron-icons.html" />
    <link rel="import" href="~/Content/components/iron-icon/iron-icon.html" />
    <link rel="import" href="~/Content/components/xenon-layout/nav-item.html" />
    <link rel="import" href="~/Content/components/xenon-layout/xenon-search.html" />
    <link rel="import" href="~/Content/components/xenon-layout/xenon-section.html" />
    <link rel="import" href="~/Content/components/xenon-layout/xenon-field-group.html" />
    <link rel="import" href="~/Content/components/xenon-layout/xenon-layout.html" />
    <link rel="import" href="~/Content/components/xenon-photo-card/xenon-photo-card.html" />
    <link rel="import" href="~/Content/components/paper-button/paper-button.html" />
    <link rel="import" href="~/Content/components/paper-menu-button/paper-menu-button.html" />
    <link rel="import" href="~/Content/components/paper-item/paper-item.html" />
    <link rel="import" href="~/Content/components/paper-icon-button/paper-icon-button.html" />
    <link rel="import" href="~/Content/components/paper-input/paper-input.html" />
    <link rel="import" href="~/Content/app-theme.html" />
    <style>
        body, html { height: 100%; margin: 0px; font-family: "Roboto", Arial, Helvetica, sans-serif; }
    </style>
    <style is="custom-style" include="app-theme">
         a{text-decoration:none; color:var(--primary-text-color);}
        .primary{background-color:var(--default-primary-color); color:var(--primary-text-color);}
    </style>
</head>
<body>
        <xenon-layout heading="@ViewBag.ApplicationName">
            <header>
                <xenon-search></xenon-search>
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/home/logout">Log Out</a>
                }
                else
                {
                    <a href="/home/index">Log In</a>
                }
            </header>
            <nav>
                <nav-item icon="home" href="/dashboard">Dashboard</nav-item>
                <nav-item icon="shopping-basket" href="/Products">Products</nav-item>
                <nav-item icon="receipt" href="/Orders">Orders</nav-item>
                <nav-item icon="settings" href="/Settings">Settings</nav-item>

                <spacer></spacer>
            </nav>
            <main>
                @if (TempData["message"] != null)
            {
                var style = TempData["message-style"];
                    <xenon-section>
                        <div class="@style">@Html.Raw(TempData["message"])</div>
                    </xenon-section>

                }
                @RenderBody()
                <!-- this is a spacer to stick the footer to the bottom -->
                <spacer></spacer>
                <xenon-section style="background-color:gainsboro; color:gray">
                    <ul>
                        <li>Privacy Policy</li>
                    </ul>
                    <ul>
                        <li>About Us</li>
                    </ul>
                    <ul>
                        <li>User Agreement</li>
                    </ul>
                </xenon-section>
            </main>
        </xenon-layout>
        <div hidden>

        </div>

</body>
</html>
